<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>
<body>
	<%- include("../partials/header") %>
	
	<div class="container" style="margin-top: 40px;">
		<div class="row">
			<div class="col-md-3">
				<h2>Hi <%= user.name %> </h2>
				<img src="/images/avatars/<%= user.image %> ">
				<br>
				<br>
				<div class="alert alert-success"><%= user.email %> </div>
			</div>
		</div>
	</div>
	
	<%- include("../partials/footer") %>
</body>
</html>
