<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>
<body>
	<%- include("../partials/header") %>
	
	<main class="profile">
		<div class="row">
			<div >
				<h2>ยก Hola <%= user.name %> !</h2>
				<h3>BIENVENIDO DE VUELTA</h3>
				<div class="UserAvatar">
				<img id="avatar" src="/images/avatars/<%= user.avatar%> " alt="" >
				</div>
				<br>
				<br>
				<div class="usuarioEmail"><%= user.email %> </div>
			</div>
		</div>
	</div>
	</main>
	<%- include("../partials/footer") %>
</body>
</html>
