<!DOCTYPE html>
<html lang="es">

<%- include("../partials/head", {Solapa:"PH: Edit"}) %>

    <body>

        <%- include("../partials/head", {Solapa: "PH: Editar Usuario" }) %>

            <main class="register">
                <form method="POST" action="/users/edit?_method=PUT" enctype="multipart/form-data" class="form-user">
                    <br>
                    <h4>Editar Cuenta</h4>

                    <div class="inputs">
                        <div class="box">
                            <label for="user"></label>
                            <div class="contenedor">
                            <input class="input" type="text" name="name" placeholder="Edite su usuario"
                                value="<%= locals.oldData ? oldData.name : user.name %>">
                            <% if (locals.errors && errors.name) { %>
                                <div class="text-error">
                                    <%= errors.name.msg %>
                                </div>
                                <% } %>
                        </div>
                    </div>

                        <div class="box">
                            <label for="user"></label>
                            <div class="contenedor">
                            <input class="input" type="text" name="email" placeholder="Edite su Email"
                                value="<%= locals.oldData ? oldData.email : user.email %>">

                            <% if (locals.errors && errors.email) { %>
                                <div class="text-error">
                                    <%= errors.email.msg %>
                                </div>
                                <% } %>
                        </div>
                    </div>

                    <div class="box">
                        <label for="password"></label>
                        <div class="contenedor">
                        <input class="input" type="password" name="password" placeholder="Edite su Contraseña">

                        <% if (locals.errors && errors.password) { %>
                            <div class="text-error">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                    </div>
                </div>

                        <div class="box-imagen">
                            <div class="cargarImagen">
                            <label for="image">Editar foto de perfil</label>
                            </div>
                            <div>
                            <input class="input" type="file" name="image" placeholder="Agregar imagen">

                            <% if (locals.errors && errors.image) { %>
                                <div class="text-error">
                                    <%= errors.image.msg %>
                                </div>
                                <% } %>
                        </div>
                    </div>

                        <div class="box">
                            <button class="button" type="submit" id="button-submit">ACTUALIZAR DATOS DE LA CUENTA</button>
                        </div>  

                        
                </form>

            </main>

            <%- include('../partials/footer') %>

                <!--          <script src="/js/editUserValidation.js"></script> -->
    </body>

</html>