<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head", {Solapa: "PH: PROUCTOS" }) %>

<body>

    <%- include("../partials/header") %>

    <main>
        <h5>INICIO/PRODUCTO</h5>
        <div class="DescripcionProductos">
            <article class="SelectorProducto">
                
                    <p class="marca-producto"> Marcas:
                    <pre> </pre>
                    </p>
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Adidas</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Kelmer</label>
                    </div>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Higer</label>
                    </div>
            </article>
          
            <% for(let i=0; i < products.length; i++){ %>
                <div class="Desc-1">
                  <a href="/products/oneProduct/<%= products[i].id %> ">
                    <h4>
                      <%= `${products[i].brand} ${products[i].model} `%>
                    </h4>
                  </a>
                  <a class="img" href="/products/oneProduct/<%= products[i].id %> ">
                    <img src="/images/uploads/<%= products[i].image %>" alt="">
                  </a>
                  <div class="precios">
                    <p>
                      $<%= products[i].price %>
                    </p>
                      <button class="button button1" id="agregar" type="submit">
                        Agregar al carrito
                      </button>
                    </a>
                  </div>
                </div>
                <% } %>
                  </div>
        </div>
    </main>
        <%- include("../partials/footer") %>

</body>

</html>