<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %> 
    <main class="register">
        <form action="/products/edit/<%= product.id?? ''%>?_method=PUT" method="post">
            
            <h4>Editar producto <%= product.category + " " + product.model ?? ''%> </h4>
            
            <div class="box">
                <label for="category"></label>
                <input class="input" 
                type="text" name="category" 
                placeholder="category" value="<%= product.category ?? ''%>">
            </div>

            <div class="box">
                <label for="brand"></label>
                <input class="input" 
                type="text" name="brand" 
                placeholder="brand" value="<%= product.brand ?? ''%>">
            </div>

            <div class="box">
                <label for="model"></label>
                <input class="input" 
                type="text" name="model" 
                placeholder="model" value="<%= product.model ?? ''%>">
            </div>

            <div class="box">
                <label for="price"></label>
                <input class="input" 
                type="number" name="price" 
                placeholder="price" value="<%= product.price ?? ''%>"> 
            </div>

            <div class="box-image">
            <img id="producto" src="/images/uploads/<%= product.image %>" alt="product.image" />
                <div class="cargarImagen">
                <label for="image">Cargar imagen del producto</label>
                </div>
                <div>
                <input class="input" 
                type="file" name="image" 
                placeholder="imagen del producto" value="<%= product.image ?? ''%>">
                </div>
                </div>

            <div class="box">
                <label for="description"></label>
                <input class="input" 
                type="text" name="description" 
                placeholder="description" value="<%= product.description ?? ''%>">
            </div>

            <div class="box">
                <button class="button" type="submit">EDITAR PRODUCTO</button>
            </div>
            </form>
            <form class="box" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                    <button class="button-delete" type="submit">BORRAR PRODUCTO</button>
            </form>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>