
<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <%- include("../partials/header") %>
    <main>
        <section>
          <div class="DescripcionProductos">
            <img id="producto" src="/images/uploads/<%= products.image %>" alt="" />
          </div>
          <div class="especificaciones">
            <p class="modelo">
              <%= `${products.brand} ${products.model}` %>
            </p>

            <p>MARCA: <%= products.brand %>
            </p>
            <p>MODELO: <%= products.model %>
            </p>
            <P class="precio">PRECIO: $<%= products.price %>
            </P>
            <p>
              <%= `12 cuotas de $${(products.price / 12).toFixed(2)}` %>
            </p>

            <p class="description">DESCRIPCIÓN:</br>
              <%= products.description %></p>
              
              <button class="button button1" id="agregar" type="submit">
                Agregar al carrito
              </button>
                <form action="/products/edit/<%=products.id%>">
                <button class="button button1" type="submit"> Editar Producto </button>
              </form>
              
        </section>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>